
.naav{
    border-bottom: 2px solid lightgrey; 
}
.naav ul{
    display: flex;
    list-style: none;
    
}
.naav ul li {
    display: flex;
    padding: 0px 90px;
    font-size: 22px;
}
.tittle{
    margin-top: 170px;
    justify-content: center; 
    align-items: center;    
    }
