.sub-title{
  color: #007bff;
}
.main-heading {
    font-weight: bold;
    font-size:70px;
}
.card-tit{
    color: #007bff;
    font-size:55px;
    font-weight: bold;
}
.card-subs{
    font-weight: bold;
    font-size: 25px
}
.card-b{
    font-size: 19px;
}